// All about sections.
.about-section {
  margin: 1em 0;
  padding: 2em 0;
  h2 {
    margin-bottom: 1em;
  }
}

// Why join.
.about-why-join {
  background-color: var(--dgc-group-color-6);
  margin-bottom: 2em;
  @include breakpoint(medium) {
    h2,
    p {
      padding: 1rem;
    }
    .field--name-field-about-whyjoin-image {
      margin-bottom: 20px;
    }
  }
}

.about-columns {
	@include breakpoint(medium) {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 2.7em;
    -moz-column-gap: 2.7em;
    -webkit-column-gap: 2.7em;
    li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

// Eligiblity
.about-eligible {
  .text-left {
    margin-left: $global-margin;
  }
  i.far {
    color: var(--dgc-group-color-5)
  }
  @include breakpoint(medium) {
    .text-left {
      padding: 2em 0 0.4em 0;
    }
    p {
      padding: 1rem;
    }
  }
}
.about-eligible-inclusions {
  height: 100%;
  background-color: var(--dgc-group-color-3);
  padding: 2em 1.5em;

}
.about-eligible-exclusions {
  height: 100%;
  background-color: var(--dgc-group-color-6);
  padding: 2em 1.5em;
  margin-top: $global-margin;
  @include breakpoint(medium) {
    margin-top: 0;
  }
}
.about-elig-subhead {
  padding-bottom: 2em;
  h3 {
    text-transform: uppercase;
    font-size: 1em;
  }
}

// Locations and team. Simple layout (option 1).
.about-locations-1 {
  .fas:hover {
    filter: brightness(150%);
  }
  .locations {
    margin-bottom: 3em;
  }
  .loc_wrap,
  .team_member_wrap {
    margin-bottom: 1em;
  }
  .team_member_name a {
    margin-left: 1em;
  }
}
