.contact-faq {
  .contact-methods {
    width: 100%;
    .field {
      margin: .1rem 0 .1rem .7rem;
    }
    i {
      margin: .1rem 0 .1rem 0;
    }
    .contact-phone, .contact-email, .contact-person {
      padding-bottom: 1.2rem;
    }
    .field--name-field-point-of-contact-name {
      color: var(--dgc-group-color-1);
      font-weight: 600;
    }
    h3 {
      padding: 0;
      margin: 0;
    }
  }
  .field--name-field-email {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .email-grid {
    width: 90%;
  }
}
.grid-background-contact-faq {
  position: sticky;
  top: 100px;
  align-self: flex-start;
}