.header-sticky {
  background-color: #fff;
  @include breakpoint(medium) {
    border-bottom: 1px solid var(--dgc-group-color-1);
  }
  &.sticky.is-stuck {
    z-index: 100;
  }
}

.block-groupmenu-block .menu {
  margin-bottom: $global-margin;
  li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background-color: $white;
    color: $primary-color;
    border-bottom: 4px solid transparent;
    display: inline-block;
    margin-bottom: .5em;
    &.is-active {
      color: $primary-color;
      border-bottom: 4px solid $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }
}

.block-groupmenu-block .menu .is-active:hover a,
.block-groupmenu-block .menu a.is-active:hover,
.block-groupmenu-block .menu li a:hover {
  @include breakpoint(medium) {
    border-bottom: 4px solid $secondary-color;
  }
}
