
.getting-started-process_ol {
  content: counter(level1) " ";
  counter-increment: level1;
  background-color: var(--dgc-group-color-2);
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 2em;
  font-size: 1.7em;
  font-weight: 900;
  list-style-position: inside;
  color: $white;
  border-radius: 50%;
  display: block;
}

.field--name-field-how-to-get-started {
  background-color: var(--dgc-group-color-1);
  padding: 2em 0em;
  h2 {
    color: $white;
    text-align: center;
    margin-bottom: 3em;
  }
  .card {
    height: 100%;
    border: none;
    border-radius: 0px;
    background: transparent;
    margin-bottom: 0;

  }
  .card-section {
    margin-bottom: 2.5em;
    background-color: $white;
    flex: unset;

  }
  ol { 
    counter-reset: level1;
    list-style-type: none;
  }
  ol li {
    position: relative;

  }
}

.process-cta {
  text-align: center;
  & > .button {
    background-color:  var(--dgc-group-color-2);
  }
}

#getting-started-process {
  & > div {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  ol { 
    padding: 0em 2em;
  }
  ol li {
    position: relative;
  }
  ol li:before {
    @extend .getting-started-process_ol;
    left: -1.5em;
    top: -1.5em;
    position: absolute;
    z-index: 3;
  }
  ol li:not(:last-child) > .vertical-line {
    content: "";
    height: 100%;
    border-left: 2px solid $white;
    position: absolute;
    top: .7em;
    left: -0.8em;
  }
  .process-cta {
    & > .button {
      margin: 1.5em 0 0 0;
      @include breakpoint(medium) {
          margin-left: 1.3em;
      }
    }
  }
}


#getting-started-process-slideshow {

  & > h2 {
    margin-bottom: 2rem;
  }
  .card-section {
    padding: 25px 35px;
  }
  ol li:before {
    @extend .getting-started-process_ol;
    left: 43%;
    top: -1.2em;
    position: absolute;
  }
  .process-items {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;
  }
  .card {
    margin-bottom: 0;
    margin: 0 1em;
  }

  .process-cta {
    & > .button {
      margin: 2rem 0 0 0;
      @include breakpoint(medium) {

      }
    }
  }

  .slick-track {
    padding-top: 2rem;

  }
  .slick-loading .slick-list
  {
      background: #fff url('./ajax-loader.gif') center center no-repeat;
  }
  .slick-track{
      display: flex;

      .slick-slide{
          display: flex;
          height: auto;
          /*flex-direction: column;*/
      }
  }
  /* Icons */
  @font-face
  {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;

      src: url('./fonts/slick.eot');
      src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');

  }

  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 54%;

      display: block;

      width: 52px;
      height: 52px;
      padding: 0;
      z-index: 3;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
      filter: brightness(150%);
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: 0;
  }

  .slick-prev:before,
  .slick-next:before
  {
      font-size: 40px;
      line-height: 1.2;
      padding: 1px;

      opacity: 1;
      background-color: var(--dgc-group-color-2);
      color: white;
      border-radius: 50%;
      width: 52px;
      height: 52px;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
  }

  .slick-prev
  {
      left: 5px;
  }
  [dir='rtl'] .slick-prev
  {
      right: 5px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '\f104';
      padding: 1px 4px 1px 1px;
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '\f105';
  }

  .slick-next
  {
      right: 5px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: 5px;
  }
  .slick-next:before
  {
      content: '\f105';
      padding: 1px 1px 1px 4px;

  }
  [dir='rtl'] .slick-next:before
  {
      content: '\f104';

  }

  /* Dots */
  .slick-dotted.slick-slider
  {
      margin-bottom: 30px;
  }

  .slick-dots
  {
      position: absolute;
      bottom: -25px;

      display: block;

      width: 100%;
      padding: 0;
      margin: 0;

      list-style: none;

      text-align: center;
  }
  .slick-dots li
  {
      position: relative;

      display: inline-block;

      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;

      cursor: pointer;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;

      display: block;

      width: 20px;
      height: 20px;
      padding: 5px;

      cursor: pointer;

      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;

      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      content: '•';
      text-align: center;

      opacity: .25;
      color: black;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }

}