.home-about {
  h2 {
    text-align: center;
    margin: .7em 0 0.7em;
  }
  .field--name-field-cta a {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-top: 2em;
  }
  hr {
    width: 100%;
  }
  @include breakpoint(medium) {
    hr {
      display: none;
    }

    h2 {
      text-align: left;
    }
  }
}

.home-about > div {
  padding-top: 0;
  padding-bottom: 2em;
  @include breakpoint(medium) {
    padding-top: 2em;
  }
}

/* Overview Section */

.home-overview {
  display: flex;
  flex-direction: column;
  @include breakpoint(medium) {
    position: relative;
  }

  .field--name-field-cta {
    text-align: center;
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}

.home-about-3 .home-overview {
  .home-overview-content {
    display: flex;
    flex-direction: column;
  }
  .home-overview-video {
    order: 2;
    text-align: center;
    width: 100%;
  }
  .home-overview-desc {
    order: 1;
  }
  @include breakpoint(medium) {
    .home-overview-content {
      display: inline;
      margin: 0px;
    }
    .home-overview-video {
      float: right;
      width: 50%;
      padding-bottom: .7em;
    }
    .home-overview-desc {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      display: inline;
    }
    .home-overview-desc.home-overview-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
} 

.home-overview-video {
  padding-top: 2em;
  @include breakpoint(medium) {
    padding-top: 0;
    .field--name-field-media-image {
      text-align: center;
    }
  }
}

.home-about-1 .home-overview-video {
  display: none;
}

/* Why Join? Section */
.home-about-whyjoin {
  background-color: var(--dgc-group-color-6);
}

.home-about-1 > .home-about-whyjoin {
  @include breakpoint(medium) {
    background-color: transparent;
  }
}

/* Eligibility Section */
.home-about-2 >.home-about-eligibility {
  @include breakpoint(medium) {
    background-color: var(--dgc-group-color-6);
  }
}

.home-about-2, .home-about-3 {
  .home-about-whatdo {
    @include breakpoint(medium) {
      ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
        li {
          width: 100%;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
      .field--name-field-cta {
        text-align: center;
      }
    }
  }
}


.home-about-3 {
  @include breakpoint(medium) {
    .home-about-whatdo, 
    .home-about-whyjoin, 
    .home-about-eligibility {
      .field--name-field-cta {
        text-align: center;
      }
    }
    .home-about-whatdo ul,
    .home-about-whyjoin ul {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 3em;
      -moz-column-gap: 3em;
      column-gap: 3em;
      li {
        width: 100%;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
    .home-about-eligibility ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 3em;
      -moz-column-gap: 3em;
      column-gap: 3em;
      li {
        width: 100%;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
    hr {
      display: block;
      margin: 0 auto;
    }
  }
}
