.paragraph--type--about-locations.paragraph--view-mode--map-team-w-images {
  background-color: var(--dgc-group-color-6);
  padding: 2.5em 0;
  h2 {
    margin-bottom: 1em;
  }
  .attachment-before {
    background-color: white;
    a {
      box-sizing: border-box;
      display: inline-block;
      padding: 1em;
      position: relative;
      width: 100%;
      &::after {
        content: "";
        border-bottom: 1px solid #F5F5F5;
        display: block;
        width: 96%;
        position: absolute;
        bottom: 0;
      }
    }
    .icon {
      color: var(--dgc-group-color-1, #262262);
      font-size: 1.7em;
      float: left;
    }
    h3 {
      color: var(--dgc-group-color-2);
      margin-left: 30px;
    }
    .views-field-nothing {
      margin-left: 30px;
      color: $dark-gray;
    }
    a:hover {
      background-color: var(--dgc-group-color-3);
      text-decoration: none;
      h3 {
        color: var(--dgc-group-color-1, #262262);
      }
      &::after {
        border-bottom: 1px solid var(--dgc-group-color-3);
      }
    }
  }

  .attachment-before > .scroll-element,
  .attachment-before > .scroll-element div
  {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
  }

  .attachment-before > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .attachment-before > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
  }

  .attachment-before > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
  }

  .attachment-before > .scroll-element .scroll-element_outer {
    overflow: hidden;
  }

  .attachment-before > .scroll-element .scroll-element_outer,
  .attachment-before > .scroll-element .scroll-element_track,
  .attachment-before > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  .attachment-before > .scroll-element .scroll-element_track,
  .attachment-before > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
  }

  .attachment-before > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
  .attachment-before > .scroll-element .scroll-bar { background-color: #c2c2c2; }
  .attachment-before > .scroll-element:hover .scroll-bar { background-color: #919191; }
  .attachment-before > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


  /* update scrollbar offset if both scrolls are visible */

  .attachment-before > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
  .attachment-before > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


  .attachment-before > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
  .attachment-before > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

  .infobubble {
    display: inline-block;
    h3,
    .views-field-nothing {
      display: block;
      color: white;
    }
  }

  // Tablet.
  @include breakpoint(medium) {
    .view-display-id-map {
      > .attachment-before {
        max-height: 600px;
        width: 50%;
        float: left;
      }
      > .view-content {
        width: 50%;
        float: right;
      }
    }
    .geolocation-map-container {
      height: 600px !important;
    }
  }
}
