.paragraph--type--about-team-member.paragraph--view-mode--map-team-w-images {
  .field--name-field-about-team-image {
    margin-bottom: 1em;
  }
  .field--name-field-about-team-name {
    display: inline-block;
  }
  .field--type-link {
    font-size: 1.2em;
    margin-left: 1em;
    i:hover {
      filter: brightness(150%);
    }
  }

  // Tablet.
  @include breakpoint(medium) {
    
  }
}
