body {
  font-size: 15px;
  color: #4d4d4f;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $primary-color;
}
h1, h2, h3 {
  font-weight: 800;
}
#block-pagetitle {
  margin-top: 20px;
}
.paragraph--type--1_column_section,
.paragraph--type--2_column_section,
.paragraph--type--3_column_section,
.paragraph--type--4_column_section {
  h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
}
h4 {
  font-weight: 700;
}
h5 {
  line-height: 1.4em;
}

a,
a:hover,
a:focus {
  color: $secondary-color;
}

a:focus {
  text-decoration: none;
}

hr {
  width: 100%;
  border-color: $primary-color;
}

/* Classy theme in core has this class and it's a float.
   Since we're using flexbox, this causes problems.
   /core/themes/stable/css/system/components/align.module.css */
.align-right,
.align-left {
  float: none;
}

#block-dgc-branding {
  padding: 1.5rem;
}

ul.with-icons, ul.with-discs, ul.process-items {
  list-style-type: none;
  margin-left: 0;
}

ul.with-icons li, ul.with-discs li {
  display: block;
  margin-bottom: 1em;
  .each-list-item {
    display: flex;
  }
  i {
    color: $secondary-color;
  }
  span {
    padding-left: 1em;
  }
}

ul.with-discs {
  li {
    
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside:avoid;
    i {
      color: $secondary-color;
      font-weight: 900;
      font-size: 1.5em;
      margin-top: -2px;
    }
  }
}
.button.small {
  padding: 0.65em 2em;
  margin-bottom: 1em;
}
