.tabs {
  margin-bottom: $global-margin;
}
.tabs.primary, .tabs.secondary {
  background-color: $primary-color;
}
.tabs.primary > li > a:hover,
.tabs.primary > li > a:focus,
.tabs.secondary > li > a:hover,
.tabs.secondary > li > a:focus{
  background: $primary-color;
  filter: brightness(150%);
}