<div id="whats-involved" class="about-section about-whats-involved">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <h2 class="cell small-11 medium-12 align-center text-{{ title_align }}">{{ content.field_about_expect_title.0 }}</h2>
      <div class="cell small-11 medium-12 align-center about-columns">
        {{ content.field_about_expect_text.0 }}
      </div>
    </div>
  </div>
</div>
