<div class="other-video"> 
    <h2>{{ content.field_home_other_title }}</h2>
    <div>{{ content.field_home_other_video }}</div>
    <h5>{{ content.field_home_other_subtitle }}</h5>
    {{ content.field_home_other_description }}
</div>
