<div id="id-about-locations" class="about-locations">
  <h3 class="">{{ content.field_about_locations_title.0 }}</h3>
  <div class="grid-padding-x">
    <div class="small-6">
      {{ content.field_locations }}
    </div>
  </div>
</div>

