{% if has_items %}
  <div class="grid-container">
    <div class="grid-x grid-padding-x small-up-2 medium-up-3">
    {% for testimonial in content.field_testimonials['#items'] %}
      <div class="cell">
        <div class="card">
          <div class="card-section">
            {{ drupal_entity('media', testimonial.entity.field_testimonial_image.0.entity.id) }}
          </div>
          <div class="card-section">
            <blockquote>{{ testimonial.entity.field_testimonial_quote.value }}</blockquote>
            <p>{{ testimonial.entity.field_testimonial_name.value }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}