<div id="why-join" class="about-section about-why-join">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <h2 class="cell small-11 medium-12 align-center text-{{ title_align }}">{{ content.field_about_whyjoin_title.0 }}</h2>
      <div class="cell small-11 medium-6 align-center">
        {{ content.field_about_whyjoin_list }}  
      </div>
      <div class="cell small-11 medium-6 align-center">
        {{ content.field_about_whyjoin_image }}
      </div>
    </div>
  </div>
</div>
