<div class="about-banner grid-container full">
  <div class="about-banner-bg grid-x grid-padding-x align-center">
    <div class="about-banner-card cell small-11 medium-8 align-center align-self-middle text-center">
      <div class="grid-y grid-padding-y align-spaced">
        <div class="cell">
          <h2>{{ content.field_about_heading }}</h2>
          <h5>{{ content.field_about_subheading }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
