<ul class="with-icons">
{% for list_item in content.field_bulleted_list_items['#items'] %}
  <li>
  	<div class="each-list-item">
    	<i class="{{ paragraph.field_icon.value }}"></i>
    	<span>{{ list_item.value }}</span>
	</div>
  </li>
{% endfor %}
</ul>