<div id="eligibility" class="about-section about-eligible">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
      <h2 class="cell text-{{ title_align }}">{{ content.field_about_eligible_title.0 }}</h2>
      <div class="cell small-11 medium-6 align-center">
        <div class="about-eligible-inclusions"> {{ content.field_about_eligible_inclusions }}</div>
      </div>
      <div class="cell small-11 medium-6 align-center">
        <div class="about-eligible-exclusions">{{ content.field_about_eligible_exclusions }}</div>
      </div>
    </div>
  </div>
</div>