<div class="other-testimonial">
	<h2>{{ content.field_home_other_title }}</h2>
  <div class="testimonial-callout">
    {{ content.field_home_other_photo }}
    <div class="other-testimonial-text">
    {{ content.field_home_other_text }}
    {{ content.field_home_other_name }}
	</div>
  </div>
</div>
