<div id="id-about-team" class="about-team">
  <h3 class="">{{ content.field_about_team_title.0 }}</h3>
  <div class="grid-padding-x">
    <div class="small-6">
      {{ content.field_about_team_member }}
    </div>
  </div>
</div>

    