.paragraph--type--about-team.paragraph--view-mode--map-team-w-images {
  padding: 2.5em 0;

  h2 {
    margin-bottom: 1em;
  }
  .field--name-field-about-team-intro {
    margin-bottom: 2em;
  }
  .field--name-field-principle-investigator {
    margin-bottom: 2em;
  }
  .field--name-field-about-team-member {
    > .field__item:first-child {
      display: none;
    }
    .field__item {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }
  .field--name-field-about-team-member > .scroll-element,
  .field--name-field-about-team-member > .scroll-element div
  {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
  }

  .field--name-field-about-team-member > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .field--name-field-about-team-member > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
  }

  .field--name-field-about-team-member > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
  }

  .field--name-field-about-team-member > .scroll-element .scroll-element_outer {
    overflow: hidden;
  }

  .field--name-field-about-team-member > .scroll-element .scroll-element_outer,
  .field--name-field-about-team-member > .scroll-element .scroll-element_track,
  .field--name-field-about-team-member > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  .field--name-field-about-team-member > .scroll-element .scroll-element_track,
  .field--name-field-about-team-member > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
  }

  .field--name-field-about-team-member > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
  .field--name-field-about-team-member > .scroll-element .scroll-bar { background-color: #c2c2c2; }
  .field--name-field-about-team-member > .scroll-element:hover .scroll-bar { background-color: #919191; }
  .field--name-field-about-team-member > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


  /* update scrollbar offset if both scrolls are visible */

  .field--name-field-about-team-member > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
  .field--name-field-about-team-member > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


  .field--name-field-about-team-member > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
  .field--name-field-about-team-member > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

  // Tablet.
  @include breakpoint(medium) {
    
  }
}
